@model IdentityProject.Web.ViewModels.PasswordChangedViewModel

@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}
<div class="row">
    <div class="col-md-6 offset-md-2">
        @if (ViewBag.success == "true")
        {
            <div class="alert alert-success">The password changed successfully.</div>
        }
        else
        {
            <h4>Change Password</h4>
            <hr />
            <form asp-action="PasswordChange">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PasswordCurrent" class="control-label"></label>
                    <input asp-for="PasswordCurrent" class="form-control" />
                    <span asp-validation-for="PasswordCurrent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordNew" class="control-label"></label>
                    <input asp-for="PasswordNew" class="form-control" />
                    <span asp-validation-for="PasswordNew" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordConfirm" class="control-label"></label>
                    <input asp-for="PasswordConfirm" class="form-control" />
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>
